#extra files and folders
*.list
*.sh
*.txt
*.bed
*.swp
scripts/__pycache__/

#Snakemake stuff
logs
.python-version
.snakemake
Snakefile.copied

# output folders
output/
annotations/
processed_data/
figures/
my_scratch/
data/

#Shiny.io
shiny_app/rsconnect/
